@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 30% 96%;
    --foreground: 222.2 47.4% 11.2%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    
    --primary: 348 59% 33%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 40 40% 53%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --accent: 40 40% 53%;
    --accent-foreground: 222.2 47.4% 11.2%;
    
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    
    --ring: 348 59% 33%;
    
    --radius: 0.5rem;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
